* { /* Grundinställningar för alla element*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* Delar upp sidan i tre rader: header, main, footer. Header och footer får det 
    utrymme de behöver medan main tar resterande utrymme.*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    background-color: #f5f4ef;
    color: #564E4D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img { /* Bilden anpassar sig efter tillgängligt utrymme och blir max 400px bred. 
    Höjden anpassas automatiskt så att bildens proportioner behålls. Bilden
    centreras och får rundade hörn.*/
    display: block;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
    border-radius: 8px;
}

/* Gemensamt utseende för sidhuvud och sidfot. Centrerar texten och skapar utrymme mellan innehållet och kanterna */
header, footer {
    background-color: #e5eae1;
    text-align: center;
    padding: 20px;
}

main {
    /* Huvudinnehållet (main) placeras i en kolumn, vilket funkar bra för mobilvyn.
        Padding skapar luft mellan innehållet och skärmkanten. */
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*Inloggningsformuläret delas upp i två kolumner med grid: etiketter till vänster
och inmatningsfält till höger */
form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

/* Gemensam storlek på knapparna. Fit-content gör baraknappen så bred som innehållet 
behöver. Padding ger luft mellan texten och knappens kanter */
button {
    width: fit-content;
    padding: 4px 8px;
}
/* Placerar Logga in-knappen i formulärets andra kolumn */
#loginBtn {
    grid-column: 2;
    
}
/* Skapar mellanrum mellan meddelandet och Logga ut-knappen */
#logoutBtn, #message {
    margin-top: 10px;
}
/* Anpassningar för större skärmar */
@media (min-width: 768px) {

    main {
        max-width: 900px;
    }

    /* Gör så att logga in-containern placeras i rad. */
    .login-container {
        flex-direction: row;
        align-items: center;
    }
}
